<!DOCTYPE html>
<html lang="en">

<!-- Mirrored from demo.bootstrapdash.com/purple-admin-free/index.html by HTTrack Website Copier/3.x [XR&CO'2014], Thu, 28 Dec 2023 06:57:34 GMT -->

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>audizo admin</title>
    <!-- plugins:css -->
    <link rel="stylesheet" href="/static/adminImages/vendors/mdi/css/materialdesignicons.min.css">
    <link rel="stylesheet" href="/static/adminImages/vendors/css/vendor.bundle.base.css">
    <!-- endinject -->
    <!-- Plugin css for this page -->
    <!-- End plugin css for this page -->
    <!-- inject:css -->
    <!-- endinject -->
    <!-- Layout styles -->
    <link rel="stylesheet" href="/static/adminImages/css/style.css">
    <!-- End layout styles -->
    <link rel="shortcut icon" href="/static/adminImages/images/favicon.ico" />
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <style>
        .modal-dialog {
            max-width: 600px;
            /* Set a max-width for the modal */
            margin: 1.75rem auto;
        }

        .modal-content {
            border-radius: .3rem;
            /* Keep the border radius */
            border: 1px solid #dee2e6;
            /* Add border to modal content */
            padding: 1rem;
            /* Add padding to modal content */
        }

        .modal-header {
            border-bottom: 1px solid #dee2e6;
            /* Add border to modal header */
        }

        .modal-footer {
            border-top: 1px solid #dee2e6;
            /* Add border to modal footer */
        }

        .text-danger {
            font-size: 0.875rem;
            /* Adjust font size for error messages */
            margin-top: 0.25rem;
            /* Add space above error messages */
        }

        /* Add some padding to the modal body */
        .modal-body {
            padding: 1.5rem;
        }

        /* Adjust form control margins */
        .form-group {
            margin-bottom: 1rem;
        }

        /* Adjust form control sizes */
        .form-control {
            height: calc(2.25rem + 2px);
            padding: .375rem .75rem;
            font-size: 1rem;
            line-height: 1.5;
            border-radius: .25rem;
            border: 1px solid #ced4da;
        }

        .btn-primary,
        .btn-secondary {
            font-size: 1rem;
            padding: .5rem 1rem;
            border-radius: .25rem;
        }
    </style>

</head>

<body>



    <!-- <div class="container-scroller">
      <div class="row p-0 m-0 proBanner" id="proBanner">
        <div class="col-md-12 p-0 m-0">
          <div class="card-body card-body-padding d-flex align-items-center justify-content-between">
            <div class="ps-lg-1">
              <div class="d-flex align-items-center justify-content-between">
                <p class="mb-0 font-weight-medium mr-3 buy-now-text">Free 24/7 customer support, updates, and more with this template!</p>
                <a href="https://www.bootstrapdash.com/product/purple-bootstrap-admin-template/?utm_source=organic&amp;utm_medium=banner&amp;utm_campaign=buynow_demo" target="_blank" class="btn mr-2 buy-now-btn border-0">Get Pro</a>
              </div>
            </div>
            <div class="d-flex align-items-center justify-content-between">
              <a href="https://www.bootstrapdash.com/product/purple-bootstrap-admin-template/"><i class="mdi mdi-home mr-3 text-white"></i></a>
              <button id="bannerClose" class="btn border-0 p-0">
                <i class="mdi mdi-close text-white mr-0"></i>
              </button>
            </div>
          </div>
        </div>
      </div> -->
    <!-- partial:partials/_navbar.html -->
    <nav class="navbar default-layout-navbar col-lg-12 col-12 p-0 fixed-top d-flex flex-row">
        <h1 style="padding: 20px 35px; color: rgb(138, 138, 138); font-size: 34px; font-weight: 700px;">AUDIZO.</h1>

        <div class="navbar-menu-wrapper d-flex align-items-stretch">
            <button class="navbar-toggler navbar-toggler align-self-center" type="button" data-toggle="minimize">
                <span class="mdi mdi-menu"></span>
            </button>
            <div class="search-field d-none d-md-block">
                <form class="d-flex align-items-center h-100" action="#">
                    <div class="input-group">
                        <div class="input-group-prepend bg-transparent">
                            <i class="input-group-text border-0 mdi mdi-magnify"></i>
                        </div>
                        <input type="text" class="form-control bg-transparent border-0" placeholder="Search projects">
                    </div>
                </form>
            </div>
            <ul class="navbar-nav navbar-nav-right">
                <li class="nav-item nav-profile dropdown">
                    <a class="nav-link dropdown-toggle" id="profileDropdown" href="#" data-toggle="dropdown"
                        aria-expanded="false">
                        <!-- <div class="nav-profile-img">
                  <img src="/static/adminImages/images/faces/face1.jpg" alt="image">
                  <span class="availability-status online"></span>
                </div> -->
                        <div class="nav-profile-text">
                            <p class="mb-1 text-black">admin</p>
                        </div>
                    </a>
                    <div class="dropdown-menu navbar-dropdown" aria-labelledby="profileDropdown">
                        <!-- <a class="dropdown-item" href="#">
                  <i class="mdi mdi-cached mr-2 text-success"></i> Activity Log </a> -->
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="/admin/logout">
                            <i class="mdi mdi-logout mr-2 text-primary"></i> Signout </a>
                    </div>
                </li>
                <li class="nav-item d-none d-lg-block full-screen-link">
                    <a class="nav-link">
                        <i class="mdi mdi-fullscreen" id="fullscreen-button"></i>
                    </a>
                </li>

                <li class="nav-item nav-logout d-none d-lg-block">
                    <a class="nav-link" href="#">
                        <i class="mdi mdi-power"></i>
                    </a>
                </li>
                <li class="nav-item nav-settings d-none d-lg-block">
                    <a class="nav-link" href="#">
                        <i class="mdi mdi-format-line-spacing"></i>
                    </a>
                </li>
            </ul>
            <button class="navbar-toggler navbar-toggler-right d-lg-none align-self-center" type="button"
                data-toggle="offcanvas">
                <span class="mdi mdi-menu"></span>
            </button>
        </div>
    </nav>


    <!-- partial -->
    <div class="container-fluid page-body-wrapper">
        <!-- partial:partials/_sidebar.html -->
        <nav class="sidebar sidebar-offcanvas" id="sidebar">
            <ul class="nav">

                <li class="nav-item">
                    <a class="nav-link" href="/admin/home">
                        <span class="menu-title">Dashboard</span>
                        <i class="mdi mdi-home menu-icon"></i>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/admin/category">
                        <span class="menu-title">Category</span>
                        <i class="mdi mdi-format-list-bulleted menu-icon"></i>
                    </a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" href="/admin/product">
                        <span class="menu-title">Products</span>
                        <i class="mdi mdi-cube-outline menu-icon"></i>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/admin/userList">
                        <span class="menu-title">Users</span>
                        <i class="mdi mdi-contacts menu-icon"></i>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/admin/orders">
                        <span class="menu-title">Orders</span>
                        <i class="mdi mdi-cart menu-icon"></i>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/admin/coupons">
                        <span class="menu-title">Coupons</span>
                        <i class="mdi mdi-ticket-percent menu-icon"></i>
                    </a>
                </li>
                <li class="nav-item ">
                    <a class="nav-link" data-toggle="collapse" href="#offers-pages" aria-expanded="false"
                        aria-controls="offers-pages">
                        <span class="menu-title ">Offers</span>
                        <i class="menu-arrow"></i>
                        <i class="mdi mdi-tag menu-icon "></i>
                    </a>
                    <div class="collapse" id="offers-pages">
                        <ul class="nav flex-column sub-menu">
                            <li class="nav-item"> <a class="nav-link" href="/admin/productOffer">Product Offers</a></li>
                            <li class="nav-item"> <a class="nav-link " href="/admin/categoryOffer">Category Offers</a>
                            </li>
                        </ul>
                    </div>
                </li>

                <li class="nav-item">
                    <a class="nav-link" href="/admin/salesReport">
                        <span class="menu-title">Sales Report</span>
                        <i class="mdi mdi-chart-line menu-icon"></i>
                    </a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" href="/admin/logout">
                        <span class="menu-title">Logout</span>
                        <i class="mdi mdi-logout menu-icon"></i>
                    </a>
                </li>

            </ul>
        </nav>
        <!-- partial -->


        <div class="main-panel">
            <div class="content-wrapper">
                <div class="page-header">
                    <h3 class="page-title">
                        <span class="page-title-icon bg-gradient-primary text-white mr-2">
                            <i class="mdi mdi-ticket-percent menu-icon"></i>
                        </span> Coupons
                    </h3>
                    <nav aria-label="breadcrumb">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item"><a href="/admin/home">Dashboard</a></li>
                            <li class="breadcrumb-item active" aria-current="page">Coupons</li>
                        </ol>
                        <div class="button-group" style="margin-top: 10px;">
                            <button class="btn btn-gradient-danger" data-toggle="modal"
                                data-target="#addCouponModal">Add Coupon</button>
                        </div>
                    </nav>
                </div>

                <div class="row">
                    <div class="col-12 grid-margin">
                        <div class="card">
                            <div class="card-body">
                                <div class="table-responsive">
                                    <table class="table table-striped table-hover">
                                        <thead class="text-center">
                                            <tr>
                                                <th>Coupon Code</th>
                                                <th>Percentage</th>
                                                <th>Min Price</th>
                                                <th>Redeem Amount</th>
                                                <th>Expiry Date</th>
                                                <th>Actions</th>
                                            </tr>
                                        </thead>
                                        <tbody class="text-center">
                                            <% if (coupon.length> 0) { %>
                                                <% coupon.forEach(coupon=> { %>
                                                    <tr>
                                                        <td>
                                                            <%= coupon.couponCode %>
                                                        </td>
                                                        <td>
                                                            <%= coupon.percentage %>
                                                        </td>
                                                        <td>&#8377; <%= coupon.minPrice %>
                                                        </td>
                                                        <td>&#8377; <%= coupon.maxRedeemAmount %>
                                                        </td>
                                                        <td>
                                                            <%= coupon.expiryDate.toLocaleDateString() %>
                                                        </td>
                                                        <td>
                                                            <a href="/admin/coupons/editCoupon?id=<%= coupon._id %>"
                                                                class="btn btn-gradient-primary btn-sm">Edit</a>
                                                            <a href="#" class="btn btn-gradient-danger btn-sm"
                                                                onclick="confirmDelete('<%= coupon._id %>')">Delete</a>
                                                        </td>
                                                    </tr>
                                                    <% }); %>
                                                        <% } %>
                                        </tbody>
                                    </table>
                                </div>
                                <div class="pagination-container mt-4">
                                    <ul class="pagination justify-content-center">
                                        <% if (currentPage> 1) { %>
                                            <li class="page-item">
                                                <a class="page-link page-link-custom"
                                                    href="?page=<%= currentPage - 1 %>" style="background-color: #fff;
                                              border-color: #000;
                                              color: #000;">Previous</a>
                                            </li>
                                            <% } %>
                                                <% for(let i=1; i <=totalPages; i++) { %>
                                                    <li class="page-item <%= i === currentPage ? 'bg-primary text-light' : 'btn-light text-dark' %>"
                                                        style="border-color: #000;">
                                                        <a class="page-link page-link-custom <%= i === currentPage ? 'bg-primary text-light' : 'btn-light text-dark' %>"
                                                            href="?page=<%= i %>" style="border-color: #000;">
                                                            <%= i %>
                                                        </a>
                                                    </li>
                                                    <% } %>
                                                        <% if (currentPage < totalPages) { %>
                                                            <li class="page-item">
                                                                <a class="page-link page-link-custom"
                                                                    href="?page=<%= currentPage + 1 %>" style="background-color: #fff;
                                              border-color: #000;
                                              color: #000;">Next</a>
                                                            </li>
                                                            <% } %>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- Add Coupon Modal -->
                <div class="modal fade" id="addCouponModal" tabindex="-1" role="dialog"
                    aria-labelledby="addCouponModalLabel" aria-hidden="true">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="addCouponModalLabel">Add Coupon</h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <form id="addCouponForm" action="/admin/coupons/addCoupon" method="POST"
                                onsubmit="return validateCoupon()">
                                <div class="form-group">
                                    <label for="couponCode">Coupon Code</label>
                                    <input type="text" class="form-control" id="couponCode" name="couponCode" required>
                                    <span id="couponCodeError" class="text-danger" style="display:none;">Coupon Code
                                        must be a valid number between 1000 and 9999.</span>
                                </div>
                                <div class="form-group">
                                    <label for="minPrice">Minimum Price</label>
                                    <input type="number" class="form-control" id="minPrice" name="minPrice" required>
                                    <span id="minPriceError" class="text-danger" style="display:none;">Minimum Price
                                        must be a valid number between 100 and 5000.</span>
                                </div>
                                <div class="form-group">
                                    <label for="percentage">Offer Percentage</label>
                                    <input type="number" class="form-control" id="percentage" name="percentage"
                                        required>
                                    <span id="couponOfferError" class="text-danger" style="display:none;">Offer
                                        Percentage must be a valid number between 1 and 50.</span>
                                </div>
                                <div class="form-group">
                                    <label for="maxRedeemAmount">Maximum Redeemable Amount</label>
                                    <input type="number" class="form-control" id="maxRedeemAmount"
                                        name="maxRedeemAmount" required>
                                    <span id="maxRedeemableError" class="text-danger" style="display:none;">Maximum
                                        Redeemable Amount must be a valid number between 10 and 10000.</span>
                                </div>
                                <div class="form-group">
                                    <label for="expiryDate">Expiry Date</label>
                                    <input type="date" class="form-control" id="expiryDate" name="expiryDate" required>
                                    <span id="couponExpiryDateError" class="text-danger" style="display:none;">Expiry
                                        Date must be a valid future date.</span>
                                </div>
                                <button type="submit" class="btn btn-primary">Add Coupon</button>
                            </form>
                        </div>
                    </div>
                </div>
                <!-- content-wrapper ends -->
                <!-- partial:partials/_footer.html -->
                <footer class="footer">
                    <div class="container-fluid clearfix">
                        <!-- <span class="text-muted d-block text-center text-sm-left d-sm-inline-block">Copyright © audizo.com 2024</span> -->
                        <!-- <span class="float-none float-sm-right d-block mt-1 mt-sm-0 text-center"> Free <a href="https://www.bootstrapdash.com/bootstrap-admin-template/" target="_blank">Bootstrap admin template</a> from Bootstrapdash.com</span> -->
                    </div>
                </footer>
                <!-- partial -->
            </div>
            <!-- main-panel ends -->
        </div>
        <!-- page-body-wrapper ends -->
    </div>
    <!-- container-scroller -->
    <!-- plugins:js -->
    <script src="/static/adminImages/vendors/js/vendor.bundle.base.js"></script>
    <!-- endinject -->
    <!-- Plugin js for this page -->
    <script src="/static/adminImages/vendors/chart.js/Chart.min.js"></script>
    <script src="/static/adminImages/js/jquery.cookie.js" type="text/javascript"></script>
    <!-- End plugin js for this page -->
    <!-- inject:js -->
    <script src="/static/adminImages/js/off-canvas.js"></script>
    <script src="/static/adminImages/js/hoverable-collapse.js"></script>
    <script src="/static/adminImages/js/misc.js"></script>
    <!-- endinject -->
    <!-- Custom js for this page -->
    <script src="/static/adminImages/js/dashboard.js"></script>
    <script src="/static/adminImages/js/todolist.js"></script>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>


    <script>

        const validateCoupon = () => {
            let today = new Date();
            today.setHours(0, 0, 0, 0);

            const coupon = document.getElementById("couponCode").value.trim();
            const percentage = document.getElementById("percentage").value.trim();
            const minPrice = document.getElementById("minPrice").value.trim();
            const maxRedeemAmount = document.getElementById("maxRedeemAmount").value.trim();
            const expireDateValue = document.getElementById("expiryDate").value;

            let expireDate;
            if (expireDateValue) {
                expireDate = new Date(expireDateValue);
            }

            let numberRegex = /^\d+$/;
            let isValid = true;

            if (!numberRegex.test(coupon) || coupon <= 999 || coupon >= 10000) {
                document.getElementById("couponCodeError").style.display = "block";
                isValid = false;
            } else {
                document.getElementById("couponCodeError").style.display = "none";
            }

            if (!numberRegex.test(percentage) || percentage <= 0 || percentage >= 51) {
                document.getElementById("couponOfferError").style.display = "block";
                isValid = false;
            } else {
                document.getElementById("couponOfferError").style.display = "none";
            }

            if (!numberRegex.test(minPrice) || minPrice <= 100 || minPrice >= 5001) {
                document.getElementById("minPriceError").style.display = "block";
                isValid = false;
            } else {
                document.getElementById("minPriceError").style.display = "none";
            }

            if (!numberRegex.test(maxRedeemAmount) || maxRedeemAmount <= 10 || maxRedeemAmount >= 10000) {
                document.getElementById("maxRedeemableError").style.display = "block";
                isValid = false;
            } else {
                document.getElementById("maxRedeemableError").style.display = "none";
            }

            if (!expireDate || expireDate < today) {
                document.getElementById("couponExpiryDateError").style.display = "block";
                isValid = false;
            } else {
                document.getElementById("couponExpiryDateError").style.display = "none";
            }

            return isValid;
        }


        const confirmDelete = (couponId) => {
            Swal.fire({
                title: 'Are you sure?',
                text: 'This Coupon will get removed',
                icon: 'warning',
                showCancelButton: true,
                confirmButtonText: 'Yes',
                cancelButtonText: 'Cancel',
                reverseButtons: true
            }).then((result) => {
                if (result.isConfirmed) {
                    axios.delete(`/admin/coupons?id=${couponId}`)
                        .then((response) => {
                            if (response.data.success) {
                                Swal.fire(
                                    'Removed!',
                                    'The coupon has been removed.',
                                    'success'
                                ).then(() => {
                                    window.location.reload();
                                });
                            } else {
                                Swal.fire(
                                    'Error!',
                                    'Failed to remove the coupon.',
                                    'error'
                                );
                            }
                        })
                        .catch((error) => {
                            Swal.fire(
                                'Error!',
                                'An error occurred while removing the coupon.',
                                'error'
                            );
                        });
                }
            });

        }
    </script>
    <!-- End custom js for this page -->
</body>

<!-- Mirrored from demo.bootstrapdash.com/purple-admin-free/index.html by HTTrack Website Copier/3.x [XR&CO'2014], Thu, 28 Dec 2023 06:57:42 GMT -->

</html>