<!DOCTYPE html>
<html lang="en">
  
<!-- Mirrored from demo.bootstrapdash.com/purple-admin-free/index.html by HTTrack Website Copier/3.x [XR&CO'2014], Thu, 28 Dec 2023 06:57:34 GMT -->
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>audizo admin</title>
    <!-- plugins:css -->
    <link rel="stylesheet" href="/static/adminImages/vendors/mdi/css/materialdesignicons.min.css">
    <link rel="stylesheet" href="/static/adminImages/vendors/css/vendor.bundle.base.css">
    <!-- endinject -->
    <!-- Plugin css for this page -->
    <!-- End plugin css for this page -->
    <!-- inject:css -->
    <!-- endinject -->
    <!-- Layout styles -->
    <link rel="stylesheet" href="/static/adminImages/css/style.css">
    <!-- End layout styles -->
    <link rel="shortcut icon" href="/static/adminImages/images/logoaudizo.jpg" />
  </head>
  <body>



    <div class="container-scroller">
      
      <!-- partial:partials/_navbar.html -->
       <nav class="navbar default-layout-navbar col-lg-12 col-12 p-0 fixed-top d-flex flex-row">
     
          <h1 style="padding: 20px 35px; color: rgb(138, 138, 138); font-size: 34px; font-weight: 700px;" >AUDIZO.</h1>
        
        <div class="navbar-menu-wrapper d-flex align-items-stretch">
          <ul class="navbar-nav navbar-nav-right">
            <li class="nav-item nav-profile dropdown">
              <a class="nav-link dropdown-toggle" id="profileDropdown" href="#" data-toggle="dropdown" aria-expanded="false">
              
                <div class="nav-profile-text">
                  <p class="mb-1 text-black">admin</p>
                </div>
              </a>
              <div class="dropdown-menu navbar-dropdown" aria-labelledby="profileDropdown">
             
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" href="/admin/logout">
                  <i class="mdi mdi-logout mr-2 text-primary"></i> Signout </a>
              </div>
            </li>
            <li class="nav-item d-none d-lg-block full-screen-link">
              <a class="nav-link">
                <i class="mdi mdi-fullscreen" id="fullscreen-button"></i>
              </a>
            </li>
         
            <li class="nav-item nav-settings d-none d-lg-block">
              <a class="nav-link" href="#">
                <i class="mdi mdi-format-line-spacing"></i>
              </a>
            </li>
          </ul>
          <button class="navbar-toggler navbar-toggler-right d-lg-none align-self-center" type="button" data-toggle="offcanvas">
            <span class="mdi mdi-menu"></span>
          </button>
        </div>
      </nav>

      
      <!-- partial -->
      <div class="container-fluid page-body-wrapper">
        <!-- partial:partials/_sidebar.html -->
        <nav class="sidebar sidebar-offcanvas" id="sidebar">
          <ul class="nav">
          
            <li class="nav-item">
              <a class="nav-link" href="/admin/home">
                <span class="menu-title">Dashboard</span>
                <i class="mdi mdi-home menu-icon"></i>
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/admin/category">
                <span class="menu-title">Category</span>
                <i class="mdi mdi-format-list-bulleted menu-icon"></i>
              </a>
            </li>
           
            <li class="nav-item">
              <a class="nav-link" href="/admin/product">
                <span class="menu-title"><Param></Param>Products</span>
                <i class="mdi mdi-cube-outline menu-icon"></i>
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/admin/userList">
                <span class="menu-title">Users</span>
                <i class="mdi mdi-contacts menu-icon"></i>
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/admin/orders">
                <span class="menu-title">Orders</span>
                <i class="mdi mdi-cart menu-icon"></i>
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/admin/coupons">
                <span class="menu-title">Coupons</span>
                <i class="mdi mdi-ticket-percent menu-icon"></i>
              </a>
            </li>
            <li class="nav-item ">
              <a class="nav-link" data-toggle="collapse" href="#offers-pages" aria-expanded="false" aria-controls="offers-pages">
                <span class="menu-title ">Offers</span>
                <i class="menu-arrow"></i>
                <i class="mdi mdi-tag menu-icon "></i>
              </a>
              <div class="collapse" id="offers-pages">
                <ul class="nav flex-column sub-menu">
                  <li class="nav-item"> <a class="nav-link" href="/admin/productOffer">Product Offers</a></li>
                  <li class="nav-item"> <a class="nav-link " href="/admin/categoryOffer">Category Offers</a></li>
                </ul>
              </div>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/admin/salesReport">
                <span class="menu-title">Sales Report</span>
                <i class="mdi mdi-chart-line menu-icon"></i>
              </a>
            </li>
        
            <li class="nav-item">
              <a class="nav-link" href="/admin/logout">
                <span class="menu-title">Logout</span>
                <i class="mdi mdi-logout menu-icon"></i>
              </a>
            </li>
          </ul>
        </nav>
        <!-- partial -->
          <div class="main-panel">
          <div class="content-wrapper">
            <div class="page-header">
              <h3 class="page-title">
                <span class="page-title-icon bg-gradient-primary text-white mr-2">
                  <i class="mdi mdi-home"></i>
                </span> Dashboard
              </h3>
              <nav aria-label="breadcrumb">
                <ul class="breadcrumb">
                  <li class="breadcrumb-item active" aria-current="page">
                    <span></span>Overview <i class="mdi mdi-alert-circle-outline icon-sm text-primary align-middle"></i>
                  </li>
                </ul>
              </nav>
            </div>
            <div class="row">
              <div class="col-md-4 stretch-card grid-margin">
                <div class="card bg-gradient-danger card-img-holder text-white">
                  <div class="card-body">
                    <img src="/static/adminImages/images/dashboard/circle.svg" class="card-img-absolute" alt="circle-image" />
                    <h4 class="font-weight-normal mb-3">Revenue <i class="mdi mdi-chart-line mdi-24px float-right"></i>
                    </h4>
                    <h2 class="mb-5">₹ <%= revenue%></h2>
               
                  </div>
                </div>
              </div>
              <div class="col-md-4 stretch-card grid-margin">
                <div class="card bg-gradient-info card-img-holder text-white">
                  <div class="card-body">
                    <img src="/static/adminImages/images/dashboard/circle.svg" class="card-img-absolute" alt="circle-image" />
                    <h4 class="font-weight-normal mb-3"> Total Orders<i class="mdi mdi-cart-outline mdi-24px float-right"></i>
                    </h4>
                    <h2 class="mb-5"><%= totalOrders%></h2>
                 
                  </div>
                </div>
              </div>
              <div class="col-md-4 stretch-card grid-margin">
                <div class="card bg-gradient-success card-img-holder text-white">
                  <div class="card-body">
                    <img src="/static/adminImages/images/dashboard/circle.svg" class="card-img-absolute" alt="circle-image" />
                    <h4 class="font-weight-normal mb-3">Discount <i class="mdi mdi-diamond mdi-24px float-right"></i>
                    </h4>
                    <h2 class="mb-5">₹ <%= discount%></h2>
                  </div>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-6 grid-margin stretch-card">
                <div class="card">
                  <div class="card-body">
                    <h4 class="card-title">Weekday Revenue</h4>
    
                    <canvas id="chrt" width="400" height="400"></canvas>
                    <div id="traffic-chart-legend" class="rounded-legend legend-vertical legend-bottom-left pt-4"></div>
                  </div>
                </div>
              </div>
              <div class="col-md-6 grid-margin stretch-card">
                <div class="card">
                  <div class="card-body">
                    <div class="d-flex justify-content-between align-items-center">
                      <h4 class="card-title mb-0">Revenue per Interval</h4>
                      <!-- Add a select element for choosing the interval -->
                      <select class="form-control" id="intervalSelect" style="width: auto; margin-left: 1rem;" onchange="revenueInterval()">
                        <option value="weekly">This Week</option>
                        <option value="monthly" <%=interval=="month"?'selected':''%>>Monthly</option>
                        <option value="yearly" <%=interval=="year"?'selected':''%>>Yearly</option>
                      </select>
                    </div>
                    <canvas id="chrt2" width="400" height="400"></canvas>
                    <div id="traffic-chart-legend" class="rounded-legend legend-vertical legend-bottom-left pt-4"></div>
                  </div>
                </div>
              </div>

              <div class="col-md-12 grid-margin stretch-card">
                <div class="card">
                  <div class="card-body">
                    <h4 class="card-title">Top Products</h4>
                    <div class="row">
                      <% for(let product of bestProducts) { %>
                        <div class="col-md-4">
                          <div class="card mb-3 mx-auto" style="width: 18rem; border: 2px solid #ccc;">
                            <img src="/static/userImages/images/<%= product.image %>" class="card-img-top mx-auto"
                              alt="<%= product.productName %>" style="width: 50%; height: auto;">
                            <div class="card-body text-center">
                              <h5 class="card-title">
                                <%= product.productName %>
                              </h5>
                              <p class="card-text"><strong>Quantity:</strong>
                                <%= product.totalQuantity %>
                              </p>
                            </div>
                          </div>
                        </div>
                      <% } %>
                    </div>
                  </div>
                </div>
              </div>
              
            <div class="col-md-12 grid-margin stretch-card">
              <div class="card">
                <div class="card-body">
                  <h4 class="card-title">Top Categories</h4>
                  <div class="row">
                    <% for(let category of bestCategories) { %>
                      <div class="col-md-4">
                        <div class="card mb-3 mx-auto" style="border: 2px solid #ccc;">
                          <div class="card-body text-center">
                            <h5 class="card-title">
                              <%= category.categoryName %>
                            </h5>
                            <p class="card-text"><strong>Quantity:</strong>
                              <%= category.totalQuantity %>
                            </p>
                          </div>
                        </div>
                      </div>
                    <% } %>
                  </div>
                </div>
              </div>
            </div>
            
            
            
          </div> 
          <!-- content-wrapper ends -->
          <!-- partial:partials/_footer.html -->
          <footer class="footer">
            <div class="container-fluid clearfix">
              <span class="text-muted d-block text-center text-sm-left d-sm-inline-block">Copyright © audizo.com 2024</span>
              <!-- <span class="float-none float-sm-right d-block mt-1 mt-sm-0 text-center"> Free <a href="https://www.bootstrapdash.com/bootstrap-admin-template/" target="_blank">Bootstrap admin template</a> from Bootstrapdash.com</span> -->
            </div>
          </footer>
          <!-- partial -->
        </div>
        <!-- main-panel ends -->
      </div>
      <!-- page-body-wrapper ends -->
    </div>
    <!-- container-scroller -->
    <!-- plugins:js -->
    <script src="/static/adminImages/vendors/js/vendor.bundle.base.js"></script>
    <!-- endinject -->
    <!-- Plugin js for this page -->
    <script src="/static/adminImages/vendors/chart.js/Chart.min.js"></script>
    <script src="/static/adminImages/js/jquery.cookie.js" type="text/javascript"></script>
    <!-- End plugin js for this page -->
    <!-- inject:js -->
    <script src="/static/adminImages/js/off-canvas.js"></script>
    <script src="/static/adminImages/js/hoverable-collapse.js"></script>
    <script src="/static/adminImages/js/misc.js"></script>
    <!-- endinject -->
    <!-- Custom js for this page -->
    <script src="/static/adminImages/js/dashboard.js"></script>
    <script src="/static/adminImages/js/todolist.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

    <script>
      document.addEventListener('DOMContentLoaded', function () {
        let ctx = document.getElementById('chrt').getContext('2d');
        let ctx2 = document.getElementById('chrt2').getContext('2d');
    
        let labels = <%- JSON.stringify(labels) %>;
        let values = <%- JSON.stringify(values) %>;
    
        let labels2 = <%- JSON.stringify(labels2) %>;
        let values2 = <%- JSON.stringify(values2) %>;
    
        // Define colors for the first chart
        const backgroundColors1 = [
          'rgba(54, 162, 235, 0.5)',
          'rgba(255, 99, 132, 0.5)',
          'rgba(75, 192, 192, 0.5)',
          'rgba(153, 102, 255, 0.5)',
          'rgba(255, 159, 64, 0.5)',
          'rgba(255, 206, 86, 0.5)',
          'rgba(231, 233, 237, 0.5)'
        ];
    
        const borderColors1 = [
          'rgba(54, 162, 235, 1)',
          'rgba(255, 99, 132, 1)',
          'rgba(75, 192, 192, 1)',
          'rgba(153, 102, 255, 1)',
          'rgba(255, 159, 64, 1)',
          'rgba(255, 206, 86, 1)',
          'rgba(231, 233, 237, 1)'
        ];
    
        // Define colors for the second chart
        const backgroundColors2 = [
          'rgba(255, 159, 64, 0.5)',
          'rgba(255, 206, 86, 0.5)',
          'rgba(231, 233, 237, 0.5)',
          'rgba(54, 162, 235, 0.5)',
          'rgba(255, 99, 132, 0.5)',
          'rgba(75, 192, 192, 0.5)',
          'rgba(153, 102, 255, 0.5)'
        ];
    
        const borderColors2 = [
          'rgba(255, 159, 64, 1)',
          'rgba(255, 206, 86, 1)',
          'rgba(231, 233, 237, 1)',
          'rgba(54, 162, 235, 1)',
          'rgba(255, 99, 132, 1)',
          'rgba(75, 192, 192, 1)',
          'rgba(153, 102, 255, 1)'
        ];
    
        const repeatedBackgroundColors1 = Array.from({ length: labels.length }, (_, i) => backgroundColors1[i % backgroundColors1.length]);
        const repeatedBorderColors1 = Array.from({ length: labels.length }, (_, i) => borderColors1[i % borderColors1.length]);
    
        const repeatedBackgroundColors2 = Array.from({ length: labels2.length }, (_, i) => backgroundColors2[i % backgroundColors2.length]);
        const repeatedBorderColors2 = Array.from({ length: labels2.length }, (_, i) => borderColors2[i % borderColors2.length]);
    
        let chart1 = new Chart(ctx, {
          type: 'line',
          data: {
            labels: labels,
            datasets: [{
              label: 'Revenue per Weekday',
              data: values,
              backgroundColor: repeatedBackgroundColors1,
              borderColor: repeatedBorderColors1,
              borderWidth: 2,
              hoverBackgroundColor: repeatedBackgroundColors1.map(color => color.replace('0.5', '0.75')),
              hoverBorderColor: repeatedBorderColors1,
              fill: false,
            }]
          },
          options: {
            responsive: false,
            maintainAspectRatio: true,
            scales: {
              y: {
                beginAtZero: true,
                ticks: {
                  callback: function (value) { return value + ' Rs'; }
                }
              }
            }
          }
        });
    
        let chart2 = new Chart(ctx2, {
          type: 'bar',
          data: {
            labels: labels2,
            datasets: [{
              label: 'Revenue per Interval',
              data: values2,
              backgroundColor: repeatedBackgroundColors2,
              borderColor: repeatedBorderColors2,
              borderWidth: 2,
              hoverBackgroundColor: repeatedBackgroundColors2.map(color => color.replace('0.5', '0.75')),
              hoverBorderColor: repeatedBorderColors2,
              fill: false,
            }]
          },
          options: {
            responsive: false,
            maintainAspectRatio: true,
            scales: {
              y: {
                beginAtZero: true,
                ticks: {
                  callback: function (value) { return value + ' Rs'; }
                }
              }
            }
          }
        });
      });

      function revenueInterval(){
        const interval = document.getElementById("intervalSelect").value;
        window.location.href = "/admin/home?interval="+interval;
      }
    </script>
    
    <!-- End custom js for this page -->
  </body>

<!-- Mirrored from demo.bootstrapdash.com/purple-admin-free/index.html by HTTrack Website Copier/3.x [XR&CO'2014], Thu, 28 Dec 2023 06:57:42 GMT -->
</html>