<!DOCTYPE HTML>
<html>

<head>
	<title>audizo</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

	<link href="https://fonts.googleapis.com/css?family=Montserrat:300,400,500,600,700" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css?family=Rokkitt:100,300,400,700" rel="stylesheet">


	<!-- Animate.css -->
	<link rel="stylesheet" href="/static/userImages/css/animate.css">
	<!-- Icomoon Icon Fonts-->
	<link rel="stylesheet" href="/static/userImages/css/icomoon.css">
	<!-- Ion Icon Fonts-->
	<link rel="stylesheet" href="/static/userImages/css/ionicons.min.css">
	<!-- Bootstrap  -->
	<link rel="stylesheet" href="/static/userImages/css/bootstrap.min.css">

	<!-- Magnific Popup -->
	<link rel="stylesheet" href="/static/userImages/css/magnific-popup.css">

	<!-- Flexslider  -->
	<link rel="stylesheet" href="/static/userImages/css/flexslider.css">

	<!-- Owl Carousel -->
	<link rel="stylesheet" href="/static/userImages/css/owl.carousel.min.css">
	<link rel="stylesheet" href="/static/userImages/css/owl.theme.default.min.css">

	<!-- Date Picker -->
	<link rel="stylesheet" href="/static/userImages/css/bootstrap-datepicker.css">
	<!-- Flaticons  -->
	<link rel="stylesheet" href="/static/userImages/fonts/flaticon/font/flaticon.css">

	<!-- Theme style  -->
	<link rel="stylesheet" href="/static/userImages/css/style.css">
	<style>
		.payment-pending {
			display: flex;
			align-items: center;
		}

		.payment-pending p {
			margin-bottom: 0;
			margin-right: 10px;
			/* Adjust the margin as needed */
		}

		.payment-pending .btn {
			padding: 2px;
		}
	</style>

</head>

<body>

	<div class="colorlib-loader"></div>

	<div id="page">
		<nav class="colorlib-nav" role="navigation">
			<div class="top-menu">
				<div class="container">
					<div class="row">
						<div class="col-sm-7 col-md-9">
							<div id="colorlib-logo"><a href="#">AUDIZO.</a></div>
						</div>
						<div class="col-sm-5 col-md-3">

						</div>
					</div>
					<div class="row">
						<div class="col-sm-12 text-left menu-1">
							<ul>
								<li><a href="/">Home</a></li>
								<li class="has-dropdown ">
									<a href="/shop">Shop</a>
									<ul class="dropdown">
										<li><a href="/shop">Shop Products</a></li>
										<li><a href="/cart">Shopping Cart</a></li>
										<!-- <li><a href="checkout.html">Checkout</a></li>
										<li><a href="order-complete.html">Order Complete</a></li> -->
										<li><a href="/wishlist">Wishlist</a></li>
									</ul>
								</li>
								<!-- <li><a href="women.html">Women</a></li> -->
								<li><a href="/about">About</a></li>
								<!-- <li><a href="contact.html">Contact</a></li> -->
								<li class="cart"><a href="/cart"><i class="icon-shopping-cart"></i> cart</a></li>
								<li class="cart"><a href="/wishlist"><i class="icon-heart"></i>wishlist</a></li>
								<li class="cart"><a href="/profile"><i class="icon-user"></i>
										<%= user.name %>
									</a></li>
							</ul>
						</div>
					</div>
				</div>
			</div>
			<div class="sale">
				<div class="container">
					<div class="row">
						<div class="col-sm-8 offset-sm-2 text-center">
							<div class="row">
								<div class="owl-carousel2">

								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</nav>

		<div class="breadcrumbs">
			<div class="container">
				<div class="row">
					<div class="col">
						<p class="bread"><span><a href="/">Home</a></span> / <span><a href="/profile">PROFILE</a></span>
							/ <span> <a href="/myOrders">MY ORDERS</a></span> / <span>order details</span></p>
					</div>
				</div>
			</div>
		</div>
		<!-- Order Details Page Begin -->
		<div class="colorlib-product">
			<div class="container">
				<div class="row row-pb-lg">
					<div class="col-md-12">
						<% if (order.paymentStatus==='Pending' ) { %>
							<div class="payment-pending d-flex align-items-center">
								<p class="mb-0 mr-2">Your order has not been completed. Please complete the payment.</p>
								<button class="btn btn-primary " style="padding: 4px;"
									onclick="payNow('<%= order._id %>','<%= order.totalPrice%>')">Pay Now</button>
							</div>
							<% } %>
							<br>

								<% order.items.forEach((item, index)=> { %>
									<div class="product-cart d-flex">
										<!-- Product Image -->
										<div class="one-forth">
											<div class="product-img"
												style="background-image: url('/static/userImages/images/<%= item.image %>');">
											</div>
											<div class="display-tc">
												<h3 style="font-size: 16px;">
													<%= item.productName %>
												</h3>
											</div>
										</div>
										<!-- Product Price -->
										<div class="one-eight text-center">
											<div class="display-tc">
												<span class="quantity">Quantity: <%= item.quantity %></span>
												<br>
												<span class="price">₹ <%= item.finalPrice %></span>
											</div>
										</div>
										<!-- Status -->
										<div class="one-forth text-center">
											<div class="display-tc">
												<p class="mb-1"><strong>Status:</strong>
													<span class="<%= item.itemStatus === 'Ordered' ? 'text-warning' : 
													item.itemStatus === 'Shipped' ? 'text-warning' : 
													item.itemStatus === 'Delivered' ? 'text-success' : 
													item.itemStatus === 'Cancelled' ? 'text-danger' : 
													item.itemStatus === 'Return Requested' ? 'text-danger' : 'text-dark' %>">
														<%= item.itemStatus %>
													</span>
												</p>
												<% if (item.itemStatus==='Delivered' ) { %>
													<p>Your item has been delivered on <%= new
															Date(order.date).toDateString() %>
													</p>
													<% } %>
														<% if (item.itemStatus==='Ordered' ||
															item.itemStatus==='Shipped' ) { %>
															<p>Want to cancel your order?</p>
															<button class="btn btn-primary "
																onclick="cancelOrder('<%= order._id %>', '<%= item.productId %>')">Cancel</button>
															<% } else if (item.itemStatus==='Delivered' ) { %>
																<button class="btn btn-primary" data-toggle="modal"
																	data-target="#returnReasonModal-<%= index %>">Return</button>
																<% } %>

											</div>
										</div>
									</div>
									<!-- Return Reason Modal -->
									<div class="modal fade" id="returnReasonModal-<%= index %>" tabindex="-1"
										aria-labelledby="returnReasonModalLabel-<%= index %>" aria-hidden="true">
										<div class="modal-dialog">
											<div class="modal-content">
												<div class="modal-header">
													<h5 class="modal-title" id="returnReasonModalLabel-<%= index %>">
														Select
														Return Reason</h5>
												</div>
												<div class="modal-body">
													<form id="returnReasonForm-<%= index %>">
														<div class="mb-3">
															<label for="returnReasonSelect-<%= index %>"
																class="form-label">Reason for Return:</label>
															<br>
															<select class="form-select"
																id="returnReasonSelect-<%= index %>" required>
																<option value="" disabled selected>Select a reason
																</option>
																<option value="Wrong Item">Wrong Item</option>
																<option value="Changed my mind">Changed my mind</option>
																<option value="Defective Product">Defective Product
																</option>
																<option value="Other">Other</option>
															</select>
														</div>
													</form>
												</div>
												<div class="modal-footer">
													<button type="button" class="btn btn-danger"
														data-dismiss="modal">Close</button>
													<button type="button" class="btn btn-success"
														onclick="confirmReturn('<%= order._id %>', '<%= item._id %>', '<%= index %>')">Confirm
														Return</button>
												</div>
											</div>
										</div>
									</div>

									<% }) %>


										<!-- Delivery Address -->
										<div class="display-tc mt-4">
											<h6 style="font-size: 14px;">DELIVERY ADDRESS:</h6>
											<div class="mt-2">
												<span><strong>
														<%= order.address.name %>
													</strong></span><br>
												<span>
													<%= order.address.house %>, <%= order.address.locality %>, <%=
																order.address.city %>, <%= order.address.state %>, <%=
																		order.address.pincode %>
												</span><br>
												<span>
													<%= order.address.mobile %>
												</span>
											</div>
											<br>
											<% if (order.items.some(item=> item.itemStatus === 'Delivered')) { %>
												<button class="btn btn-primary ml-3"
													onclick="downloadInvoice('<%= order._id %>')">Download
													Invoice</button>
												<% } %>

										</div>
					</div>
				</div>
			</div>
		</div>
		<table class="table" style="display: none;">
			<thead>
				<tr>
					<th>Product Name</th>
					<th>Price (Rs)</th>
					<th>Quantity</th>
					<th>Discount (Rs)</th>
					<th>Total (Rs)</th>
				</tr>
			</thead>
			<tbody>
				<% for(let item of orders){%>
					<tr>
						<td>
							<%= item.productName %>
						</td>
						<td>
							<%= item.price %>
						</td>
						<td>
							<%= item.quantity %>
						</td>
						<td>
							<%= item.quantity * item.price - item.quantity * item.finalPrice%>
						</td>
						<td>
							<%= item.quantity * item.finalPrice %>
						</td>
					</tr>
					<%}%>
						<tr>
							<td>Delivery Charge</td>
							<td>0</td>
							<td>-</td>
							<td>-</td>
							<td>0</td>
						</tr>
			</tbody>
		</table>


		<footer id="colorlib-footer" role="contentinfo">
			<div class="container">
				<div class="row row-pb-md">
					<div class="col footer-col colorlib-widget">
						<h4>About audizo</h4>
						<p> We’re dedicated to
							giving you the very best audio experience, with a focus on innovation, quality, and
							customer satisfaction.</p>
						<!-- <p>
						<ul class="colorlib-social-icons">
							<li><a href="#"><i class="icon-twitter"></i></a></li>
							<li><a href="#"><i class="icon-facebook"></i></a></li>
							<li><a href="#"><i class="icon-linkedin"></i></a></li>
							<li><a href="#"><i class="icon-dribbble"></i></a></li>
						</ul>
						</p> -->
					</div>
					<div class="col footer-col colorlib-widget">
						<h4>Customer Care</h4>
						<p>
						<ul class="colorlib-footer-links">
							<li><a href="/about">Contact</a></li>
							<li><a href="/myOrders">Returns/Exchange</a></li>
							<li><a href="/cart">Gift Voucher</a></li>
							<li><a href="/wishlist">Wishlist</a></li>
							<li><a href="#">Special</a></li>
							<li><a href="/about">Customer Services</a></li>
						</ul>
						</p>
					</div>
					<div class="col footer-col colorlib-widget">
						<h4>Information</h4>
						<p>
						<ul class="colorlib-footer-links">
							<li><a href="/about">About us</a></li>
							<li><a href="/myOrders">Delivery Information</a></li>
							<li><a href="/about">Privacy Policy</a></li>
							<li><a href="/about">Support</a></li>
							<li><a href="myOrders">Order Tracking</a></li>
						</ul>
						</p>
					</div>

					<div class="col footer-col">
						<h4>News</h4>
						<ul class="colorlib-footer-links">
							<li><a href="blog.html">Blog</a></li>
							<li><a href="#">Press</a></li>
							<li><a href="#">Exhibitions</a></li>
						</ul>
					</div>

					<div class="col footer-col">
						<h4>Contact Information</h4>
						<ul class="colorlib-footer-links">
							<li>291 South 21th Street, <br>Koramangala,Banglore</li>
							<li><a href="zoaudi866@gmail.com">zoaudi866@gmail.com</a></li>

						</ul>
					</div>
				</div>
			</div>
			<div class="copy">
				<div class="row">
					<div class="col-sm-12 text-center">
						<p>
							<span><!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
								Copyright &copy;
								<script>document.write(new Date().getFullYear());</script> AUDIZO
							</span>

						</p>
					</div>
				</div>
			</div>
		</footer>
	</div>

	<div class="gototop js-top">
		<a href="#" class="js-gotop"><i class="ion-ios-arrow-up"></i></a>
	</div>

	<!-- jQuery -->
	<script src="/static/userImages/js/jquery.min.js"></script>
	<!-- popper -->
	<script src="/static/userImages/js/popper.min.js"></script>
	<!-- bootstrap 4.1 -->
	<script src="/static/userImages/js/bootstrap.min.js"></script>
	<!-- jQuery easing -->
	<script src="/static/userImages/js/jquery.easing.1.3.js"></script>
	<!-- Waypoints -->
	<script src="/static/userImages/js/jquery.waypoints.min.js"></script>
	<!-- Flexslider -->
	<script src="/static/userImages/js/jquery.flexslider-min.js"></script>
	<!-- Owl carousel -->
	<script src="/static/userImages/js/owl.carousel.min.js"></script>
	<!-- Magnific Popup -->
	<script src="/static/userImages/js/jquery.magnific-popup.min.js"></script>
	<script src="/static/userImages/js/magnific-popup-options.js"></script>
	<!-- Date Picker -->
	<script src="/static/userImages/js/bootstrap-datepicker.js"></script>
	<!-- Stellar Parallax -->
	<script src="/static/userImages/js/jquery.stellar.min.js"></script>
	<!-- Main -->
	<script src="/static/userImages/js/main.js"></script>
	<!-- SweetAlert2 -->
	<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
	<script src="https://checkout.razorpay.com/v1/checkout.js"></script>

	<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf/2.4.0/jspdf.umd.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf-autotable/3.5.25/jspdf.plugin.autotable.min.js"></script>

	<script src="https://cdnjs.cloudflare.com/ajax/libs/html2canvas/0.4.1/html2canvas.min.js"></script>

	<script src="https://cdnjs.cloudflare.com/ajax/libs/dompurify/2.3.2/purify.min.js"></script>





	<script>
		const cancelOrder = (orderId, productId) => {
			console.log("Initiating order cancellation", orderId, productId);
			Swal.fire({
				title: 'Are you sure?',
				text: '',
				icon: 'warning',
				showCancelButton: true,
				confirmButtonText: 'Yes',
				cancelButtonText: 'Cancel',
				reverseButtons: true
			}).then((result) => {
				console.log(result, "resulttttt")
				if (result.isConfirmed) {
					axios.get(`/cancelOrder?orderId=${orderId}&productId=${productId}`)
						.then((response) => {
							console.log(response, "hhjhhuhuhuhuhuh")
							if (response.data.success) {
								Swal.fire(
									'Cancelled!',
									'Your order has been cancelled',
									'success'
								).then(() => {
									window.location.reload();
								});
							} else {
								Swal.fire(
									'Error!',
									'Failed to cancel the order.',
									'error'
								);
							}
						})
						.catch((error) => {
							console.error('Error cancelling the order:', error);
							Swal.fire(
								'Error!',
								'An error occurred while cancelling the order.',
								'error'
							);
						});
				}
			});
		};

		const confirmReturn = (orderId, productId, index) => {
			const reasonSelect = document.getElementById(`returnReasonSelect-${index}`);
			if (reasonSelect && reasonSelect.value) {
				Swal.fire({
					title: 'Are you sure?',
					text: '',
					icon: 'warning',
					showCancelButton: true,
					confirmButtonText: 'Yes',
					cancelButtonText: 'Cancel',
					reverseButtons: true
				}).then((result) => {
					if (result.isConfirmed) {
						const reason = reasonSelect.value;
						axios.get(`/returnOrder?orderId=${orderId}&productId=${productId}&reason=${reason}`)
							.then((response) => {
								if (response.data.success) {
									window.location.reload();
								} else {
									Swal.fire(
										'Error!',
										'Failed to return the Product.',
										'error'
									);
								}
							}).catch((error) => {
								Swal.fire(
									'Error!',
									'An error occurred',
									'error'
								);
							})
					}
				})
			} else {
				Swal.fire(
					'Warning!',
					'Please Select a valid reason.',
					'warning'
				);
			}
		};


		function payNow(orderId, amount) {
			console.log("paynowwww");
			axios.get(`/payNow?amount=${amount}&orderId=${orderId}`)
				.then((response) => {
					if (response.data.success) {
						let orderId = response.data.orderId;
						let options = {
							"key": response.data.key_id,
							"amount": response.data.amount,
							"currency": "INR",
							"name": "AUDIZO",
							"description": "Test Transaction",
							"order_id": response.data.order_id,
							"handler": function (response) {
								if (response.error) {
									Swal.fire({
										icon: "error",
										title: "Payment Failed",
										text: "Something went wrong!"
									}).then((result) => {
										window.location.reload();
									});
								} else if (response.razorpay_payment_id) {
									window.location.href = `/orderPlacing?orderId=${orderId}`;
								}
							},
							"theme": {
								"color": "#F37254"
							}
						};
						let rzp1 = new Razorpay(options);
						rzp1.open();
						rzp1.on('payment.failed', (response) => {
							setTimeout(() => {
								rzp1.close();
								window.location.reload();
							}, 3000);
						});
					}
				})
				.catch((error) => {
					console.log(error);
					Swal.fire(
						'Error!',
						'An error occurred while processing the payment.',
						'error'
					);
				});
		};

		function downloadInvoice() {

			console.log("invoiceeee");
			const doc = new window.jspdf.jsPDF();
			const pageCenter = doc.internal.pageSize.getWidth() / 2;

			doc.setFontSize(25);
			doc.setTextColor(228, 0, 124);
			doc.text("AUDIZO", pageCenter, 20, { align: 'center' });
			doc.setFontSize(15);
			doc.setTextColor(40, 40, 40);
			doc.text("Invoice", pageCenter, 30, { align: 'center' });

			const orderId = "<%= order.orderId %>";
			const orderDate = "<%= order.date.toLocaleDateString() %>";
			const invoiceDate = new Date().toLocaleDateString();
			const name = "<%= order.address.name %>";
			const mobile = "<%= order.address.mobile %>";
			const house = "<%= order.address.house %>";
			const locality = "<%= order.address.locality %>";
			const city = "<%= order.address.city %>";
			const state = "<%= order.address.state %>";
			const pin = "<%= order.address.pincode %>";
			const paymentMethod = `<% if(order.paymentMethod === "cod") { %>Cash on Delivery<% } else if(order.paymentMethod === "razorpay") { %>Razorpay<% } else { %>Wallet<% } %>`;

			doc.setFontSize(12);
			doc.setTextColor(0, 0, 0);
			doc.text(`Order ID: ${orderId}`, 20, 40);
			doc.text(`Ordered Date: ${orderDate}`, 20, 45);
			doc.text(`Invoice Date: ${invoiceDate}`, 20, 50);

			doc.setFontSize(12);
			doc.setTextColor(0, 0, 0);
			const shipFromX = pageCenter;
			doc.text("Ship-From Address:", shipFromX, 60);
			doc.setFontSize(10);
			doc.text("Audizo,\nKoramangala,\nBangalore,\nKarnataka,\n503640", shipFromX, 65);

			const shippingAddressStartX = 20;
			doc.setFontSize(12);
			doc.text(`Shipping Address:`, shippingAddressStartX, 60);
			doc.setFontSize(10);
			doc.text(`Name: ${name}`, shippingAddressStartX, 65);
			doc.text(`Mobile: ${mobile}`, shippingAddressStartX, 70);
			doc.text(`House no.: ${house}`, shippingAddressStartX, 75);
			doc.text(`Locality: ${locality}`, shippingAddressStartX, 80);
			doc.text(`City: ${city}`, shippingAddressStartX, 85);
			doc.text(`State: ${state}`, shippingAddressStartX, 90);
			doc.text(`Pin: ${pin}`, shippingAddressStartX, 95);
			doc.text(`Payment Method: ${paymentMethod}`, shippingAddressStartX, 105);


			const table = document.querySelector(".table");
			const tableData = Array.from(table.querySelectorAll('tbody tr')).map(row => {
				return Array.from(row.querySelectorAll('td')).map(cell => cell.innerText.trim());
			});

			doc.autoTable({
				head: [['Product Name', 'Price (Rs)', 'Quantity', 'Discount (Rs)', 'Total (Rs)']],
				body: tableData,
				startY: 120,
				theme: 'striped',
				headStyles: { fillColor: [40, 40, 40] },
				styles: { halign: 'left' },
			});

			let total = 0;
			tableData.forEach(row => {
				const totalPrice = parseFloat(row[4]);
				if (!isNaN(totalPrice)) {
					total += totalPrice;
				}
			});
			// Set delivery charge to 0
			const deliveryCharge = 0;
			const grandTotal = total + deliveryCharge;

			const finalY = doc.lastAutoTable.finalY + 10;
			doc.setFontSize(14);
			doc.setTextColor(0, 0, 0);
			doc.setFont('helvetica', 'bold');

			doc.text(`Grand Total: Rs ${grandTotal}`, doc.internal.pageSize.getWidth() - 20, finalY + 10, { align: 'right' });

			doc.save("order_invoice.pdf");
		}


	</script>

</body>

</html>